{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Crop | payment form </title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>


      <div class="container">
        <h2 style="text-align:center"> بارگذاری فیش پرداخت </h2> <hr>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <div style="direction:rtl" class="col-sm-10">
              {% csrf_token %}
              {{ payment_form.as_p }}
              <br>
              <div class="col-sm-offset-2 col-sm-10">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                  <button type="submit" class="btn btn-success btn-block"> ذخیره </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
              </div>
            </div>
          </div>
        </form>
      </div>





  </body>
</html>
