{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Crop | payment form </title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
  <body>

        <h2> Uplad... </h2> <hr>

         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ payment_form.as_p }}
            <div class="row mt-4 justify-content-center">
                <button type="submit" class="btn btn-primary w-md"> ذخیره </button>
            </div>
        </form>

  </body>
</html>
